<!--  set the style and title class to the variables in the thumb component.ts-->
<div class="crop" 
    [style.width.px]="thumbWidth" 
    [title]="rating"
    (click)='onClick()'	>
    <div style="width: 86px">
        <span class="glyphicon glyphicon-thumbs-up"></span>
        <span class="glyphicon glyphicon-thumbs-up"></span>
        <span class="glyphicon glyphicon-thumbs-up"></span>
        <span class="glyphicon glyphicon-thumbs-up"></span>
        <span class="glyphicon glyphicon-thumbs-up"></span>
    </div>
</div>